.pagination {
    display: flex;
    align-items: center;
    justify-content: center;

}

.pagination span {
    display: block;
    padding: 10px;
    cursor: pointer;
}

.pagination span.active {
    font-weight: bold;
    cursor: text;
}

.pagination span button {
    border: none;
    cursor: pointer;
}