.nav {
  grid-area: n;
  background-color: orange;
}

.nav ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.nav ul li a {
  text-decoration: none;
}

li.item a:hover {
  color: aqua;
}

li.item a {
  color: white;
}

li.item a.active {
  color: gold;
}