.item img {
    display: inline-block;
    width: 55px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
}

.item p {
    margin: 0;
    padding: 0 0 5px;
}

.item span {
    display: inline-block;
    margin-bottom: 5px;
}